@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  min-height: 100vh;
  background: url("./images/bg-intro-mobile.png") hsl(0, 100%, 74%);
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  font-size: 1.6rem;
}

main {
  min-height: 90vh;
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 7%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

main:first-child {
  text-align: left;
}

main > div {
  min-width: 20rem;
  max-width: 40rem;
  width: 35%;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h1 + p {
  padding-top: 5%;
  line-height: 1.5em;
  margin: 1.75em 0 0 0;
}

/* div + div {
  margin: 0 0 0 2rem;
} */

ul,
li {
  list-style: none;
}

div + div > * {
  border-radius: 1rem;
  margin: 3rem 0;
  box-shadow: 0 0.8rem 0 0 hsla(0, 0%, 0%, 0.133);
}

.trial-offer {
  background-color: hsl(248, 32%, 49%);
  padding: 1.25em 2em;
}

form {
  background-color: hsl(0, 0%, 100%);
  padding: 8%;
}

li + li {
  margin-top: 1em;
}

form input {
  color: hsl(249, 10%, 26%);
  font-weight: 700;
  border: 1px solid #00000033;
  border-radius: 0.5rem;
  padding: 1.25em;
  width: 100%;
}

input:invalid {
  outline: 1px solid hsl(0, 100%, 74%);
  color: hsl(0, 100%, 74%);
}

input:invalid::-webkit-validation-bubble {
  background-color: black;
  border: 1rem;
}

button {
  width: 100%;
  padding: 1.25em;
  font-weight: 700;
  border-radius: 0.5rem;
  background-color: hsl(154, 59%, 51%);
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
}

ul + p {
  font-size: 0.65em;
  color: hsl(246, 25%, 77%);
  padding: 0 1em;
  margin-top: 1rem;
}

ul + p > a {
  font-weight: 700;
  color: hsl(0, 100%, 74%);
}

input:active,
input:focus {
  outline: 1px solid hsl(248, 32%, 49%);
  color: hsl(249, 10%, 26%);
}

button:hover,
button:active,
button:focus {
  outline: none;
  background-color: hsl(154, 59%, 51%, 0.75);
  cursor: pointer;
}

@media (max-width: 700px) {
  body {
    background: url("./images/bg-intro-mobile.png") hsl(0, 100%, 74%);
  }

  main {
    margin: 10% 0;
    padding: 5% 0;
    flex-direction: column;
  }

  main > div {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    font-size: 1.75em;
  }

  div + div {
    margin-top: 5%;
  }
}
